$azul:#00cec9;
$negro: #000;
$morado: #6c5ce7;
$blanco: #FFF;
$amarillo: #ffc107;
@mixin margenesTB($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin coloreX($color) {
    color: $color;
}

.jumbotron {
    /*background-color: #00cec9;*/
    margin-top: 50px;
    background-image: url('../images/portada.jpg') !important;
    background-size: cover;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
}

.descripcionBanner {
    @include coloreX($blanco);
    background-color: $negro;
    opacity: 0.7;
    display: inline-block;
    padding: 10px;
}

footer {
    padding: 10px 10px 0px 10px;
    background-color: $azul;
    @include margenesTB(10px,
    0px);
}

.btn-reserva,
.btn-reserva:focus {
    background-color: $morado;
    @include coloreX($blanco);
    border-color: $morado;
}

.btn-reserva-deshabilitado {
    background-color: $amarillo !important;
    @include coloreX($blanco);
    border-color: $amarillo !important;
}

.card-hotel {
    flex: 1 250px;
    /*padding: 2px 2px 2px 2px;*/
    @include margenesTB(10px,
    0px);
}

.btn-reserva,
.btn-reserva-deshabilitado {
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.img-portada {
    width: 100%;
    height: 600px;
}

.tab-content {
    padding-top: 10px;
}

.carousel-inner>.carousel-item>img {
    max-height: 560px;
}